.monitor_alt_btn {
	display: block;
    position: fixed;
    top: 50px;
    left: 20px;
    z-index: 999999999;
    border: none;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    background: #00a000;
	cursor: pointer;
	display: none;
}

body.logged-in .monitor_alt_btn {
	display: block;
}

.monitor_alt_btn.error {
	background: #ff0000!important;
}

/* .overlay {
	background: rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid red;
} */